.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 6rem;

  @media(max-width: 1280px) {
    padding: 4rem 2rem 2rem;
  }
}

.blocks {
  list-style: none;
  margin-top: 4rem;

  .block {
    border-width: 3px;
    border-style: solid;
    //border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 1%;
    border-color: #000;
    padding: 1rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }
    opacity: 0; /* Начальная прозрачность */
    transform: translateY(20px); /* Начальное положение */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Анимация появления */

    .summary, .description, .link {
      margin-top: .8rem;
    }

    .link {
      color: deepskyblue;
      display: inline-block;
      transition: .3s;

      .arrow {
        display: inline-block;
        transition: .3s;
        transform: translateX(.3rem);
      }

      &:hover, &:focus-visible {
        opacity: .7;

        .arrow {
          transform: translateX(.8rem);
        }
      }
    }
  }

  /* Анимация появления для каждого блока */
  .block:nth-child(odd) {
    animation: fadeInUp 0.5s ease forwards;
  }

  .block:nth-child(even) {
    animation: fadeInUp 0.5s ease forwards;
  }

  /* Ключевая кадры для анимации появления */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
