.header {
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    21.8px 11.8px 23.4px rgba(0, 0, 0, 0.05),
    40px 30px 80px rgba(0, 0, 0, 0.07);
}

.list {
  display: flex;
  align-items: center;
  padding: 2rem 6rem;
  list-style: none;

  .item {
    &:not(:first-child) {
      margin-left: 1rem;
    }

    a {
      transition: .3s;

      &:hover, &:focus-visible {
        opacity: .3;
      }
    }
  }
}
