.nav {
  display: flex;
  padding: 2rem 6rem;
}

.list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style: none;

  &:not(:first-child) {
    margin-left: 6rem;
  }

  .item {
    padding-left: 0;

    &:not(:first-child) {
      margin-top: .6rem;
    }

    a {
      transition: .3s;

      &:hover, &:focus-visible {
        opacity: .3;
      }
    }
  }
}
