.nav {
  display: flex;
  padding: 2rem 6rem;

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

.list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style: none;

  &:not(:first-child) {
    margin-left: 6rem;

    @media (max-width: 768px) {
      margin-left: 2rem;
    }
  }

  .item {
    padding-left: 0;

    &:not(:first-child) {
      margin-top: .6rem;
    }

    a {
      transition: .3s;

      &:hover, &:focus-visible {
        opacity: .3;
      }
    }
  }
}

.year {
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  line-height: 140%;
  margin: 1rem 0;
  text-align: center;
}
