.hamburger {
  $selector: &;

  &__toggle {
    opacity: 0;

    &:checked + #{$selector}__btn > span {
      transform: rotate(45deg) translate(.5rem, .5rem);
    }

    &:checked + #{$selector}__btn > span::before {
      opacity: 0;
      top: 0;
      transform: rotate(0deg);
    }

    &:checked + #{$selector}__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked ~ #{$selector}__list {
      left: 0 !important;
    }

    &:not(:checked) ~ #{$selector}__list {
      display: none;
    }
  }

  &__btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 2.6rem;
    height: 2rem;
    cursor: pointer;
    z-index: 2;

    > span,
    > span::before,
    > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: .2rem;
      background-color: #616161;
      transition-duration: .25s;
    }

    > span::before {
      content: '';
      top: 1.6rem;
    }

    > span::after {
      content: '';
      top: .8rem;
    }
  }

  &__list {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 30rem;
    height: 100%;
    margin: 0;
    padding: 8rem 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: .2rem .2rem .6rem rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1;
  }

  &__item {
    display: block;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;

    a {
      display: inline-block;
      padding: 1.2rem 2.4rem;
      width: 100%;

      &:hover {
        background-color: #CFD8DC;
      }
    }
  }
}
